.cover{
	
	height:100%;
	
	}

.info{
	height:300%;
	background-color:#fff;
	overflow:hidden;
}	

.navbar{
	
	height:20%;
	width:100%;
	background-color:rgba(255,255,255,0.9);
	z-index:100;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.nav-anchors{
	float:right;
	color:#222;
	    font-size: 27px;
    padding: 15px;
	font-weight:300;
	cursor:pointer;
}
.anchors{
	float:right;
	margin-right:20px;    
    margin-top: 10px;
}
.buttons{margin-right:30px;;margin-top:-130px;}
.btn{
	
	border-radius:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	font-weight:800;
	color:#0cc;
	font-size:25px;
	cursor:pointer;
	}

.foot{
	height:250px;
	background-color:#0cc;
	-webkit-box-shadow: inset 0px 20px 28px -21px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 20px 28px -21px rgba(0,0,0,1);
box-shadow: inset 0px 20px 28px -21px rgba(0,0,0,1);
	
}	
.container{
	
	width:100% !important;
	overflow:hidden;
	}	
body{
	
	font-family: 'Roboto', sans-serif;
}	
